# perl gnu stow
export LANGUAGE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

alias ans="cd ~/repos/k8s-ansible/"

alias vim="nvim"

alias py="python3"

alias ls="eza --group-directories-first --icons=always $@"
alias l="ls -lah"
alias lt="ls -Ta"
alias tree="ls -T"

alias sd="shutdown now"

alias k="kubectl"
alias m="minikube"

alias tks="tmux kill-server"

alias lg="lazygit"
alias ld="lazydocker"

alias ff="fastfetch"
alias suu="sudo pacman -Syu -y"

alias repos="gh repo clone \$(gh repo list 0xmnt | awk '{print \$1}' | fzf)"

alias ip="ip -c -br"

alias ns="kubens"

alias kc="kccon \$(kccon | tr '*' ' ' | egrep -v 'NAME' | awk '{print \$1}' | fzf)"

alias cnpga=" for cluster in \$(k get cluster -A | egrep -v "NAMESPACE" | awk '{print \$1}'); do echo --- \$cluster-cluster --- && kubectl cnpg status \$cluster-cluster -n \$cluster; done;"

alias k9s="k9s --kubeconfig /etc/k8s/config"
# alias k9s="k9s -c namespace"

alias pd='kgpa --no-headers | grep -vE "Running|Completed"'

alias tk="tmux kill-session -t \$(tmux ls |awk -F: '{print \$1}' | fzf)"

alias debug='kubectl run -it --rm debug-pod-damian --image=alpine:latest --annotations="sidecar.istio.io/inject=false" -- sh -c "apk add --no-cache bash curl busybox-extras bind-tools nmap postgresql && bash"'

alias bar="flatpak run info.beyondallreason.bar"
