# perl gnu stow
export LANGUAGE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

alias vim="nvim"

alias py="python3"

alias ls="eza --icons"
alias l="ls -lah"
alias lt="ls -Ta"
alias tree="ls -Ta"

alias s="systemctl"

alias k="kubectl"
alias m="minikube"

alias tks="tmux kill-server"

alias lg="lazygit"
alias ld="lazydocker"

alias ff="fastfetch"
alias suu="sudo pacman -Syu"

alias sonnen="gh repo clone $(gh repo list sonnen L -200 | awk '{print $1}' | fzf)"
