[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT by OpenAI
Exec=brave --app=https://chatgpt.com --password-store=basic
Icon=chatgpt
Terminal=false
Type=Application
Categories=Network;AI;
StartupWMClass=chatgpt.com
